/*
*
*
*
****    Config Sass By Iban Syahdien    ****
****    Author: Iban Syahdien Akbar     ****
*
*
*
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Poppins:400,500");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --font-default: Poppins, sans-serif;
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  /* Colors: */
  --unnamed-color-ffcc00: #FFCC00;
  --unnamed-color-da0402: #DA0402;
  --unnamed-color-e3e3e3: #E3E3E3;
  --unnamed-color-f2f2f2: #F2F2F2;
  --unnamed-color-97510a: #97510A;
  --unnamed-color-555aa5: #555AA5;
  --unnamed-color-dddddd: #DDDDDD;
  --unnamed-color-ffffff: #fff;
  --unnamed-color-15ae1a: #15AE1A;
  --unnamed-color-f8f8f8: #F8F8F8;
  --unnamed-color-707070: #707070;
  --unnamed-color-f4e226: #F4E226;
  --unnamed-color-b8aaf7: #B8AAF7;
  --unnamed-color-f28f2a: #f28f2a;
  --unnamed-color-5a5a5a: #5A5A5A;
  --unnamed-color-CC6700: #CC6700;
  --unnamed-color-51568F: #51568F;
  --unnamed-color-9A9494: #9A9494;
  --unnamed-color-ed2229: #EE2F21;
  --unnamed-color-33c2e2: #33c2e2;
  --unnamed-color-94ead7: #94ead7;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Poppins, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --swiper-image-ratio: 33.3%;
  /* ratio 16:9 = 56.25% */
  --swiper-width: 50%;
  --swiper-inactive-scale: .85;
  /* makes the other slide smaller */
  /* responsive settings */
  --swiper-mobile-width: 90%;
  --swiper-mobile-inactive-scale: .95;
  scroll-behavior: smooth;
}

/**************************************** SOURCE BY IBAN *********************************************************************/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
input::-moz-selection {
  color: #fff;
  background: #c59e33;
}
input::selection {
  color: #fff;
  background: #c59e33;
}

body {
  font-family: var(--font-default);
  color: #444444;
}

a {
  text-decoration: none;
  color: rgba(242, 242, 242, 0.9490196078);
}

a:hover {
  color: #2b99f8;
  text-decoration: none;
}

.text-primary {
  color: #c59e33 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

@media (max-width: 992px) {
  #topbar {
    display: none !important;
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgba(242, 242, 242, 0.9490196078);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #c59e33;
  line-height: 0;
}

.back-to-top:hover {
  background: #c59e33;
  color: #fff;
}

.back-to-top:hover > i {
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid rgba(242, 242, 242, 0.9490196078);
  border-top-color: #c59e33;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 60px;
  padding: 0;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  z-index: 996;
}

#topbar.topbar-scrolled {
  top: -60px;
}

#topbar .contact-info a {
  line-height: 0;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: rgba(255, 255, 255, 0.4);
}

#topbar .contact-info i {
  color: #c59e33;
  line-height: 0;
  margin-right: 5px;
}

#topbar .contact-info .phone-icon {
  margin-left: 15px;
}

#topbar .cta {
  background: transparent;
}

#topbar .cta a {
  color: #fff;
  background: #c59e33;
  padding: 8px 24px 8px 24px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

#topbar .cta a i {
  font-size: 20px;
}

#topbar .cta a:hover {
  background: #a9892f;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  top: 0;
}

#header.header-scrolled {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 50px;
  width: 200px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img:hover {
  -webkit-filter: grayscale(3);
          filter: grayscale(3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header .logo:hover img {
  -webkit-filter: grayscale(3);
          filter: grayscale(3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-inner-pages {
  background: rgb(0, 0, 0);
}

.topbar-inner-pages {
  background: rgb(0, 0, 0);
}

@media (max-width: 992px) {
  #header .logo img {
    max-height: 45px;
    width: 100%;
  }
  #header {
    top: 0;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}

#header.header-scrolled .navbar a,
#header.header-scrolled .navbar a:focus {
  color: #000;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  width: 0px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#header.header-scrolled .navbar > ul > li > a:before {
  background-color: #c59e33;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #ffc107;
}

#header.header-scrolled .navbar a:hover,
#header.header-scrolled .navbar .active,
#header.header-scrolled .navbar .active:focus,
#header.header-scrolled .navbar li:hover > a {
  color: #ffc107;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 8px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #000;
}

.navbar .dropdown ul a.active {
  color: #c59e33;
}

#header.header-scrolled .navbar .dropdown ul a {
  color: #000;
}

#header.header-scrolled .navbar .dropdown ul a.active {
  color: #c59e33;
}

.navbar a i {
  font-size: 16px;
}

.navbar .login {
  background: #c59e33;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1.5px;
  display: none;
}

.navbar .login-li {
  display: none;
}

#header.header-scrolled .navbar .login {
  background: #c59e33;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header.header-scrolled .login-li {
  display: block;
}

.navbar li:hover .login,
.navbar .login:hover {
  background: #fff;
  color: #c59e33;
}

#header.header-scrolled .navbar li:hover .login,
#header.header-scrolled .navbar .login:hover {
  background: #fff;
  color: #c59e33;
}

.navbar .dropdown ul a i,
.navbar .dropdown ul a:focus i {
  font-size: 12px;
}

.navbar .dropdown ul a.active {
  color: #c59e33;
}

#header.header-scrolled .navbar .dropdown ul a.active {
  color: #c59e33;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #a9892f;
}

#header.header-scrolled .navbar .dropdown ul a:hover,
#header.header-scrolled .navbar .dropdown ul .active:hover,
#header.header-scrolled .navbar .dropdown ul li:hover > a {
  color: #a9892f;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #000;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header.header-scrolled .mobile-nav-toggle {
  color: #c59e33;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

#header.header-scrolled .mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile .login-li,
.navbar-mobile .login {
  display: block;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
}

#header.header-scrolled .navbar-mobile a,
#header.header-scrolled .navbar-mobile a:focus {
  color: #000;
}

.navbar-mobile .login {
  background: #c59e33;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 25px;
  margin-left: calc(45% - 50px);
  width: 40%;
}

#header.header-scrolled .navbar-mobile .login {
  background: #c59e33;
  color: #fff;
}

.navbar-mobile li:hover .login,
.navbar-mobile .login:hover {
  background: #fff;
  color: #c59e33;
}

#header.header-scrolled .navbar-mobile li:hover .login,
#header.header-scrolled .navbar-mobile .login:hover {
  background: #fff;
  color: #c59e33;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #c59e33;
}

#header.header-scrolled .navbar-mobile a:hover,
#header.header-scrolled .navbar-mobile .active,
#header.header-scrolled .navbar-mobile li:hover > a {
  color: #c59e33 !important;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #c59e33;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

@media (min-width: 993px) {
  .d-logo-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .d-logo-mobile {
    display: block;
    background: #fff;
    margin-bottom: 20px;
    opacity: 1;
    margin-top: -10px;
  }
  .d-logo-mobile img {
    width: 70%;
    margin-left: calc(30% - 50px);
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  position: relative;
  background: url("../img/banner/penerimaan.png") no-repeat center;
  background-size: cover;
  background-position-y: 15%;
  position: relative;
  margin-top: 5%;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#hero:before {
  content: "";
  background: rgba(28, 28, 28, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 5%;
}

#hero h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (max-width: 992px) {
  #hero p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #hero .carousel-container {
    margin-top: 40%;
  }
}
#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #c59e33;
  background: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  text-transform: uppercase;
  border: 2px solid #fff;
}

#hero .btn-get-started:hover {
  background: #c59e33;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-width: 992px) {
  #hero {
    height: 10px;
    padding: 100px 0;
    margin-top: 20%;
    background-size: cover;
  }
  #hero h2 {
    font-size: 20px;
  }
  #hero .btn-get-started {
    font-size: 14px;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: rgba(197, 158, 51, 0.8);
}

.section-bg .section-title h2 {
  color: #fff;
}

.section-bg .entries .btn-more {
  background: transparent;
  color: #fff;
  border-bottom: 2px solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.section-bg .entries .btn-more:hover {
  background: #fff;
  border-bottom: none;
  border-radius: 10px;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4a4a4d;
}

.section-title p {
  margin-bottom: 0;
  font-style: italic;
}

/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/
.icon-boxes {
  padding-top: 0;
  position: relative;
  z-index: 100;
  top: -30px;
}

.icon-boxes .icon-box {
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
          box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.icon-boxes .btn-link-custom {
  background: #c59e33;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 14px;
  border: 1px solid #c59e33;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.icon-boxes .btn-link-custom:hover {
  background: #fff;
  color: #c59e33;
  border: 1px solid #fff;
  border-bottom: 1px solid #c59e33;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-boxes .icon-box:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: rgba(197, 158, 51, 0.511) 0px 5px 15px;
          box-shadow: rgba(197, 158, 51, 0.511) 0px 5px 15px;
}

.icon-boxes .icon {
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}

.icon-boxes .btn-more {
  position: absolute;
  right: -50%;
  top: 25%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-boxes .btn-more:hover {
  color: #c59e33;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-boxes .btn-more i {
  padding: 8px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 40px;
  border-radius: 100%;
}

.icon-boxes .icon i {
  font-size: 36px;
  line-height: 1;
  color: #c59e33;
}

.icon-boxes .icon img {
  width: 45%;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-boxes .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
}

.icon-boxes .title a {
  color: #c59e33;
}

.icon-boxes .description a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.icon-boxes .description a:hover {
  color: #c59e33;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-boxes .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #777777;
  text-align: center;
}

@media (max-width: 992px) {
  .icon-boxes {
    top: 0px;
  }
  .icon-boxes .icon-box {
    left: 0;
  }
  .icon-boxes .btn-more {
    right: 40%;
    margin-top: -5%;
    margin-bottom: -70%;
  }
  .icon-boxes .icon img {
    margin-left: 25px;
  }
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding: 80px 0;
  position: relative;
}

.about .logo-brand {
  max-height: 150px;
}

.about:before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.about .container {
  position: relative;
}

.about .content .sec {
  border-top: 1px solid #000;
}

.about .content .col-login {
  border-right: 1px solid #000;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: rgba(242, 242, 242, 0.9490196078);
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: var(--font-default);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 1;
  color: rgba(242, 242, 242, 0.9490196078);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid rgba(242, 242, 242, 0.9490196078);
}

.about .content .btn-learn-more:hover {
  background: rgba(242, 242, 242, 0.9490196078);
  color: #fff;
  text-decoration: none;
}

@media (max-width: 992px) {
  .about {
    padding: 60px 0;
  }
}
/* Scrollbar Styling */
*::-webkit-scrollbar {
  width: 14px !important;
  height: 5px !important;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-button {
  display: none;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track-piece {
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border: 5px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: 4px 0px 0px 4px #c59e33 inset;
  box-shadow: 4px 0px 0px 4px #c59e33 inset;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#c59e33), to(#f5f4f4));
  background: linear-gradient(to bottom, #c59e33, #f5f4f4);
  border: 0px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.iframe,
img {
  border-radius: 9px;
}

.btn-custom:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #c59e33 !important;
  color: #fff !important;
}

.btn-custom > i {
  content: "\f105" !important;
  font-family: "Font Awesome 5 Free" !important;
  position: relative !important;
  right: -20px !important;
  visibility: hidden !important;
}

.btn-custom:hover > i {
  content: "\f105" !important;
  font-family: "Font Awesome 5 Free" !important;
  position: relative !important;
  right: -10px !important;
  visibility: visible !important;
}

.text-green-700 {
  color: #c59e33 !important;
}

.text-primary {
  color: #c59e33 !important;
}

.modal .close {
  font-size: 30px;
  position: absolute;
  right: 20px;
}

.dot {
  font-size: 70px;
  position: relative;
  top: -5px;
}

.fade-scale {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s !important;
  transition: -webkit-transform 0.2s !important;
  transition: transform 0.2s !important;
  transition: transform 0.2s, -webkit-transform 0.2s !important;
  -webkit-animation: zoom-in-zoom-out 1s ease linear;
          animation: zoom-in-zoom-out 1s ease linear;
  /* Animation */
}

.fade-scale.in {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: zoom-in-zoom-out 1s ease linear;
          animation: zoom-in-zoom-out 1s ease linear;
}

@-webkit-keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.overflow-y-auto {
  overflow-y: auto !important;
}

.login-form {
  border-color: #E5E7EB;
  border-radius: 50%;
  padding: 10px 15px;
  width: -webkit-fill-available;
  margin: 10px;
  height: 55px;
  border-radius: 20px;
  font-weight: normal;
  background: rgb(238, 243, 252);
  border: none;
  outline: none;
  color: #4B5F5B;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.login-form:focus {
  border: 2px solid rgb(238, 243, 252);
}

.col-form-label {
  margin-top: 20px;
}

.form-check input {
  border-color: #E5E7EB;
  cursor: -webkit-grab;
  cursor: grab;
}

.form-check input:active,
.form-check input:focus {
  border: 1px solid #c59e33 !important;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.form-check label {
  font-size: 12px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-check label a {
  color: #c59e33;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.form-check label a:hover {
  color: #a9892f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-check label:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@media (max-width: 992px) {
  .col-form-label {
    margin-top: 20px;
    margin-left: 5px;
  }
}
.select2 {
  height: 15px;
}

.clearfix {
  clear: both !important;
}

.toggle-password {
  float: right;
  cursor: pointer;
  margin-right: 30px;
  margin-top: -45px;
}

.passx {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -25px;
}

button {
  background: #0037ff;
  border: 1px solid #64896A;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px 10px;
  width: -webkit-fill-available;
  margin: 10px;
  height: 45px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
}
button:hover {
  border: 1px solid #F8F2A7;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes lights {
  0% {
    -webkit-box-shadow: 0px 0px 10px 2px #F8F2A7;
            box-shadow: 0px 0px 10px 2px #F8F2A7;
    border: 1px solid #64896A;
  }
  50% {
    -webkit-box-shadow: 0px 0px 10px 2px #C0E66E;
            box-shadow: 0px 0px 10px 2px #C0E66E;
    border: 1px solid #C0E66E;
  }
  70% {
    -webkit-box-shadow: 0px 0px 10px 2px #64896A;
            box-shadow: 0px 0px 10px 2px #64896A;
    border: 1px solid #64896A;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 2px #F8F2A7;
            box-shadow: 0px 0px 10px 2px #F8F2A7;
    border: 1px solid #64896A;
  }
}

@keyframes lights {
  0% {
    -webkit-box-shadow: 0px 0px 10px 2px #F8F2A7;
            box-shadow: 0px 0px 10px 2px #F8F2A7;
    border: 1px solid #64896A;
  }
  50% {
    -webkit-box-shadow: 0px 0px 10px 2px #C0E66E;
            box-shadow: 0px 0px 10px 2px #C0E66E;
    border: 1px solid #C0E66E;
  }
  70% {
    -webkit-box-shadow: 0px 0px 10px 2px #64896A;
            box-shadow: 0px 0px 10px 2px #64896A;
    border: 1px solid #64896A;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 2px #F8F2A7;
            box-shadow: 0px 0px 10px 2px #F8F2A7;
    border: 1px solid #64896A;
  }
}
.hobi-check {
  margin-top: 5%;
}

.jk-check {
  margin-top: 3%;
}

.form-check-label {
  font-size: 14px !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f8f8f8;
  padding: 2px 0 30px 0;
  color: #6e6e70;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  color: #6e6e70;
  margin-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: #6e6e70;
}/*# sourceMappingURL=style.css.map */